fastapi
uvicorn[standard]
sqlalchemy
pandas
numpy
yfinance
vectorbt
matplotlib
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
pydantic[email]
alembic
pydantic
requests
python-dotenv
jinja2