<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Pennywise</title>
</head>
<body>
    <h2>Hello {{ name }}, </h2>
    <p>Welcome to <strong>Pennywise</strong>! 🎉</p>
    <p>This is a system genrated mail , Thank you for registering. If you have any questions, reach out to our team anytime. 
        Your referreal code is <strong>{{ ref_code }}</strong>.
        your api key is <strong>{{ api_key }}</strong>.   
        Your password is <strong>{{ password }}</strong>.
        Please keep it secure and do not share it with anyone. You can now login to your account and start exploring our services.       
    </p>
    <p>Cheers,<br>The Pennywise Team</p>
</body>
</html>
